/* Utility Classes */
.lato {
  font-family: var(--lato);
}

.playfair {
  font-family: var(--pd);
}

.fw-300 {
  font-weight: 300;
}

.hero-h1 {
    font-size: 7.5vw;
}

.fullscreen {
  min-height: calc(100vh - 56px);
}

.p-6 {
  padding: 50px;
}

.py-6 {
  padding: 50px 0;
}

.p-7 {
  padding: 75px;
}

.py-7 {
  padding: 75px 0;
}

.pt-7 {
  padding-top: 75px;
}

.pb-7 {
  padding-bottom: 75px;
}

.p-8 {
  padding: 100px;
}

.py-8 {
  padding: 100px 0;
}

.pt-8 {
  padding-top: 100px;
}

.pb-8 {
  padding-bottom: 100px;
}

.her-heading {
  font-family: var(--pd);
  font-weight: 100;
  font-style: italic;
}

.her-main-btn {
  background: #ffffff00;
  border: none;
  border-bottom: 1px solid var(--aqua);
  padding: 0 0 4px;
  color: #000000;
  font-family: var(--pd);
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
}

.her-main-btn:hover {
  color: var(--aqua);
}

.her-main-btn-white {
  background: #ffffff00;
  border: none;
  border-bottom: 1px solid var(--aqua);
  padding: 0 0 4px;
  color: #ffffff;
  font-family: var(--pd);
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
}

.her-main-btn-white:hover {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.836);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--aqua);
}









/*

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

*/
