:root {
  --lato: 'Lato', sans-serif;
  --pd: 'Playfair Display', serif;
  --aqua: #32c9d6;
}

body {
  margin: 0;
  font-family: var(--lato);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.75rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
